table {
  width: 100%;
}

table thead tr {
  font-weight: 600;
}

table tbody tr td{
  border-top: 1px solid rgb(235, 235, 235);
}

.edit {
  margin-right: 10px;
}
.edit > i{
  color: #d9cd26;
}
.delete > i{
  color: #e35e6b;
}
