<mat-card class="home mat-elevation-z3">
  <table>
    <thead>
      <tr mat-header-row>
        <td mat-header-cell *ngFor="let display of displayedColumns">{{ display}}</td>
      </tr>
    </thead>
    <tbody>
      <tr mat-row *ngFor="let product of products">
        <td mat-cell >{{product.id}}</td>
        <td mat-cell>{{product.name}}</td>
        <td mat-cell>{{product.price | currency: 'BRL'}}</td>
        <td mat-cell>
          <a routerLink="" class="edit">
            <i class="material-icons">edit</i>
          </a>
          <a routerLink="" class="delete">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <tbody></tbody>
</mat-card>
